body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    color: #333;
}

nav {
    background: rgba(51, 51, 51, 0.9);
    padding: 15px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px;
    transition: all 0.3s ease;
    border-radius: 5px;
}
/* nav ul li a:hover {
    background: #f4a261;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
} */

nav ul li a:hover {
    color: #f4a261;
    background: white;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

nav ul li a.active {
    background: #f4a261;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

section {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h1, h2 {
    color: #d35400;
    text-align: center;
}



p, ul {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #f4a261;
    color: white;
}

img:hover {
    cursor: pointer;
}
img:active {
    transform: scale(1.1);
    transition: 0.3s;
}
 

footer {
    background-color: #222;
    color: white;
    /* text-align: center; */
    justify-content: center;
    padding: 20px 0;
    margin-top: 40px;
    font-size: 16px;
}
footer a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}
footer a:hover {
    text-decoration: underline;
}


/* @media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    section {
        width: 95%;
        padding: 20px;
    }
    img {
        width: 70%;
    }
    table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 22px;
    }
    p, ul {
        font-size: 16px;
    }
    nav ul li a {
        font-size: 16px;
        padding: 8px;
    }
    footer {
        font-size: 14px;
    }
} */
